.works{
    padding-top:100px;
    padding-bottom:14%;
    font-family: 'Roboto';
}
.works .container .cardd .aboutCard h4{font-family: 'Roboto';margin-top:5%;font-size:15px;font-weight:2000 !important}
.works .container .cardd .cardMedia{margin-top:20px;display:flex;width:80%;justify-content:space-around}
.works .container .cardd .cardMedia button{outline:none;border:none;background-color:#089eca;cursor:pointer;border-radius:50px;font-family:Nunito;padding:5px 20px;color:#ffffff}
.works .container .cardd .cardMedia button i{margin-right:10px}
@media screen and (max-width: 768px){  
    .works .container .cardd{display:block;width:95%;margin:0 auto;text-align:center}
    .works .container .cardd img{width:90%;height:20%;margin-bottom:4%}
    .works .container .cardd .aboutCard{padding:0 10px;text-align:center}
    .works .container .cardd .cardMedia{margin-top:7%;display:flex;width:100%;justify-content:space-around}
}
.works{padding-bottom:100px;padding-right:0;background-image:url("../assets/images/ornament.png");background-size:cover;background-position:center;background-repeat:no-repeat}
.works h1{font-family: 'Roboto';text-align:center}
.works .container{border:1px solid #909090;border-radius:20px;width:90%;padding-bottom:5px;margin:5% auto}
.works .container h3{font-family: 'Roboto';text-align:center;width:fit-content;background-color: #ff4081;margin-bottom:40px !important;padding:3px;margin:0 auto;font-style:italic;color:white;z-index:100 !important}
.works .container .cardd{display:flex;width:90%;margin:0 auto}
.works .container .cardd img{width:40%;height:14rem;box-shadow:0 4px 4px rgba(0,0,0,0.4),4px 2px 4px rgba(0,0,0,0.4),-4px 2px 4px rgba(0,0,0,0.4)}
.works .container .cardd .aboutCard{font-size:1rem;padding:0 50px;font-weight:300}
.works h1{
    border-bottom:20px  groove;border-radius:20px;border-color:#089eca;width:max-content;margin:0 auto;text-align:left
}